{% extends "AppSchool/layout.html" %} {% load static %}
<!-- Title -->
{% block title %} Courses {% endblock title %}

<!-- Section -->
{% block section%}
<section class="page">
  <div class="container">
    <div class="title_container">
      <h3 class="subtitle">Courses</h3>
      <form action="" method="POST">
        {% csrf_token %}
        <table>
          {{myForm.as_table}}
        </table>
        <input type="submit" value="Save" />
      </form>
    </div>
    {% if db %} {% for item in db %}
    <div class="list_container">
      <p class="text text-left"><b>Name:</b> {{item.name}}</p>
      <p class="text text-left"><b>Course:</b> {{item.course}}</p>
    </div>

    <a class="button" href="{% url 'FormCourse' %}">Add Course</a>
  </div>
</section>
{% endblock %}
