{% extends "AppSchool/layout.html" %} {% load static %}
<!-- Title -->
{% block title %} Professors {% endblock title %}

<!-- Section -->
{% block section%}
<section class="page">
  <div class="container">
    <div class="title_container">
      <h3 class="subtitle">Professors</h3>
    </div>
    {% if db %} {% for item in db %}
    <div class="list_container">
      <div class="group_container">
        <p class="text text-left"><b>Name:</b> {{item.name}}</p>
        <p class="text text-left"><b>Last Name:</b> {{item.lastName}}</p>
        <p class="text text-left"><b>Email:</b> {{item.email}}</p>
      </div>
      {% if request.user.is_superuser %}
      <div class="rigth_container">
        <a href="{% url 'ProfessorDetail' item.id %}">Ver</a>
        <a href="{% url 'Professors' item.id %}">Delete</a>
        <a href="{% url 'FormProfessor' item.id %}">Edit</a>
      </div>
      {% endif %}
    </div>
    {% endfor %} {% endif %}

    <a class="button" href="{% url 'FormProfessor' %}">Add Professor</a>
  </div>
</section>
{% endblock %}
